* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Robbotic Thin";
    src: url(./assets/fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: "Robbotic Light";
    src: url(./assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: "Robbotic Regular";
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
button {
    background-color: #FFFFFF;
    border: none;
    font-family: "Robbotic Light";
    font-size: 1vw;
}

.on-mobile {
    display: none;
}

/*inputs*/
::placeholder {
    font-size: 1.2vw;
    color: #6A6A6A;
    font-family: "Robbotic Light"; 
    
    padding-left: 4%;
    padding-bottom: 3%;
}
a {
    text-decoration: none;
    color: #1C1C1C;
}
input {
    padding: 2%;
    
}
input:focus {
    outline: none;
    border: none;
}

/*Header*/
header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    
}
/*Header company-logo*/
#company-logo {
    width: 8.3vw;
    height: auto;
}
#company-logo-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}
/*Header menu-section*/
#menu-sections {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #FFFFFF;
    scrollbar-width: none;
    margin: 0px 82px;
}
#menu-sections::-webkit-scrollbar {
    display: none;
}
#menu-sections a {
    text-decoration: none;
    padding-right: 2.1vw;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-family: "Robbotic Regular";
    flex-shrink: 0;
    border: none;
    outline: none;
}
#menu-sections a:hover {
    color: #EC1C24;
}
/*Header response section*/
#response {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 34px;
    border-right: solid 1px #E3E3E3;
    gap: 1.5vw;
}
#response-btn {
    background-color: #FFFFFF;
    border: solid 1px #6A6A6A;
    color: #000000;
    font-family: "Robbotic Regular";
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 16px; 
    width: 172px;
}
#response-images {
    width: auto;
    height: auto;
    display: flex;
    gap: 0.5vw;
    justify-content: center;
    align-items: center;
}
#call-image {
    width: 100%;
    height: auto;
}
#location-image {
    width: 100%;
    height: auto;
}
#btn-call {
    background-color: #FFFFFF;
    border: none;
    width: 1.5vw;
}
#btn-location {
    background-color: #FFFFFF;
    border: none;
    width: 1.5vw;
}
.context-dropdown {
    position: relative;
    display: inline-block;
    
}
  
.context-dropdown summary {
    list-style: none;
    cursor: pointer;
    border: none;
    background: none;
    
}
  
.context-dropdown summary::-webkit-details-marker {
    display: none;
}
  
.context-dropdown ul {
    position: absolute;
    top: 210%;
    left: 0;
    
    
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    z-index: 10;
    min-width: 200px;
}

.context-dropdown ul li {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}
  
.context-dropdown ul li:hover {
    background: #f0f0f0;
}
  
.context-dropdown ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 0.75vw;
    font-weight: 500;
    font-family: "Robbotic Light";
}
.context-dropdown span {
    position: absolute;
    top: 210%;
    left: 0;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    z-index: 10;
    min-width: 250px;
    color: #000;
    display: block;
    font-size: 0.75vw;
    font-weight: 500;
    font-family: "Robbotic Light";
    padding: 20% 80%;
}
/*Header menu*/
#main-menu {
    padding: 2vh 1.1vw;
    
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    cursor: pointer;
    display: inline-block;
}

#menu-toggle {
    display: none;
}

.dropdown-content {
    
    position: fixed;
    background-color: #FFFFFF;
    color: #000000;
    width: 100vw;
    top: 40px;
    left: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   
   
    z-index: 1000; 
    margin-top: 3%;
    
}
.content-menu {
    display: flex;
    padding: 2% 25% 5%;
}
.content-menu-block {
    padding-right: 8%;
    
}
.content-menu-block span {
    font-size: 1vw;
    font-weight: 500;
    font-family: "Robbotic Regular";
    padding-bottom: 20%; 
    display: block;
}
.content-menu-block ul {
    font-size: 1vw;
    font-weight: 400;
    font-family: "Robbotic Light";
    display: block;
    
}
.content-menu-block li {
    padding-bottom: 5%;
}



.content-menu-block ul {
    
    text-decoration: none;
    list-style: none;
    
    
}

.dropdown-content li a:hover {
    background: #ddd;
}


#menu-toggle:checked + .menu-button + .dropdown-content {
    display: block;
}


.menu:not(:focus-within) .dropdown-content {
    display: none;
}
#title {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('./assets/image-1/back-3.jpg');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    
    padding: 100px 389px 90px;
}
h1 {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 100px;  
    font-family: "Robbotic Regular";
   
    text-align: center;
}

#title h3 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;  /* адаптивный размер шрифта */
     
    text-align: center;
}

#choice {
    background-color: #FFFFFF;
    width: fit-content;
    
    margin-top: 58px;
    padding: 12px 24px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-dropdown {
    border-right: solid 1px #D4D4D4;
    border-top: none;
    border-bottom: none;
    border-left: none;
    text-align: left;
    width: 151px; 
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-group-dropdown label {
    font-size: 16px;
    font-weight: 400;
    color: #A1A1A1;
    margin-left: 5px;
    margin-bottom: 3px;
    
}
.input-group-dropdown input::placeholder {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}
.input-group-dropdown input {
    height: 20px;
    max-width: 145px;
    min-width: 100px;
    text-decoration: none;
    cursor: pointer;
}
.dropdown-wrapper input {
    background-color: #FFFFFF;
    border: none;
    padding: 7px 0px 0px;
}
.dropdown-wrapper {
    position: relative;
    
    display: flex;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 100;
    width: 350px;
    border-radius: 30px;
    left: -100px;
    
}
/* Открывать dropdown при фокусе input */
.dropdown-wrapper:focus-within .dropdown-content {
    display: flex;
}
  
  /* Дополнительно можно открыть при наведении */
.dropdown-wrapper:hover .dropdown-conten {
    display: flex;
}
.dropdown-main {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 350px;
}
.dropdown-section {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 70px;
    

}
.dropdown-section-1 {
    gap: 10px;
}
.dropdown-section h5 {
    font-size: 16px;
    text-align: left;
    font-weight: 500;
}

.dropdown-content-cards {
    width: 125px;
    
    
    
    
}










/* Стилизация каждой радио-опции */
.radio-option {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    text-align: center;
 

 
  
}




/* Стилизация самих радиокнопок */
.radio-option input[type="radio"] {
    accent-color: #463998;
    cursor: pointer;
    width: 15px;
    height: 20px;
  
  
  
}
#btn-choice {
    background-color: #EC1C24;
    color: #FFFFFF;
    width: 168px;
    height: 40px;
    
    border: none;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-family: "Robbotic Regular";
    font-size: 16px; 
    font-weight: 500;
}
.buttons {
    display: flex;
    border-top: solid 1px #D4D4D4;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}
.reset {
    border: none;
    background-color: #FFFFFF;
    color: #A1A1A1;
    font-size: 14px;
    font-weight: 300;
}
.choose {
    background-color: #1C1C1C;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
}
.choose-img-btn {
    width: 9px;
    height: 9px;
    margin-left: 4px;
}
.dropdown-content-2 {
    width: 650px;
}
.dropdown-main-2 {
    width: 650px;
}
.month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 244px;
}
.month h4 {
    font-size: 16px;
    font-weight: 500;
}
.month a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 12px;
    margin: 5px;
}
.calendar-dates {
    display: flex;
    flex-direction: column;
}
.days {
    
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
}
.numbers {
    
    display: flex;
    width: 240px;
    flex-wrap: wrap;
}
.days div {
    padding: 3px;
    width: 33px;
    height: 33px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.numbers div {
    padding:  7px 3px;
    width: 33px;
    height: 33px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}  

.numbers div:hover {
    border: solid 1px #463998;
    border-radius: 10px;
}
.dropdown-content-3 {
    width: 300px;
}
.dropdown-main-3 {
    width: 300px;
}
.dropdown-section-3 {
    padding: 40px;
    gap: 0px;
    flex-wrap: wrap;
}
.dropdown-section-3 div {
    padding: 7px 3px;
    width: 33px;
    height: 33px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  
}
.dropdown-section-3 div:hover {
    border: solid 1px #463998;
    border-radius: 10px;
}
.input-group-dropdown {
    border-right: solid 1px #D4D4D4;
}
#btn-choice:hover {
    background-color: #DD1A21;
}

#choice input:nth-child(5) {
    border-right: none;
}
#btn-choice-image {
    width: clamp(0.5vw, 0.6vw, 1vw);
    height: auto;
    margin-left: 0.3vw;
}
#main {
    margin: auto;
    padding-top: 30px;
    background-color: #FFFFFF;
    align-items: center;
    padding-left: 389px;
    padding-right: 389px;
    padding-bottom: 200px;
    
}
#cite {
    padding-bottom: 67px;
}
#cite button {
    background-color: #FFFFFF;
    text-decoration: none;
    border: none;
    color: #1C1C1C;
    font-size: 14px;
    padding: 1vh 0.2vw;
    font-family: "Robbotic Thin";
    font-weight: 300;
}

#title-block {
    padding-bottom: 35px;
    display: flex;
    gap: 1vw;
    
}
#title-block h3 {
    font-size: 44px;
    color: #1C1C1C;
    text-transform: uppercase;
    font-family: "Robbotic Regular";
    font-weight: 500;
}
#title-block span {
    color: #1C1C1C;
    font-family: "Robbotic Light";
    font-size: 16px;
    height: fit-content;
    font-weight: 300;
    margin-top: 1%;

}
#buttons {
    background-color: #FFFFFF;
    color: #1C1C1C;
    font-family: "Robbotic Light";
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 1120px;
    
    
}
#sort {
    font-weight: 400;
    display: flex;
    gap: 0.2vw;
    align-items: center;
    margin-right: 450px;
    font-size: 16px;
    
}
#map {
    font-weight: 300;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    font-size: 16px;
}
#filter {
    font-weight: 500;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    border: solid 1px #6A6A6A;
    background-color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 16px;
    
}
/*cards*/
.card {
    color: #1C1C1C;
    display: flex;
    width: 1120px;
    border: solid 1px #D4D4D4;
    border-radius: 30px;
    margin-bottom: 30px;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
   
    
    
    
    
    
    
    
    
}
.card-description-details {
    display: flex;
    justify-content: row;
}
.main-img {
    object-fit: cover;
    width: 384px;
    height: 280px;
    
    
    

    
    
    
}



.card span {
    font-weight: 300;
    font-family: "Robbotic Light";
}
.card-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
}
.card-description {
    display: flex;
    flex-direction: column;
    
    
    padding: 25px 27px 15px 0px;
    
}
.card-title {
    font-size: 16px;
}
.stars, .feedback, .description, .features, .details {
    font-size: 14px;
    display: flex;
}

.hotel {
    font-size: 20px;
    font-weight: 500;
    font-family: "Robbotic Regular";
}
.card-title {
    padding-bottom: 5px;
}
.stars {
    width: 144px;
    padding-top: 5px;
    padding-bottom: 25px;

}
.feedback {
    gap: 8px;
    width: 132px;
    
    
}
.feedback span {
    padding-top: 3%;
}
.number {
    font-weight: 300;
    font-family: "Robbotic Light";
    font-size: 14px;
    background-color: #463998;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 4vh;

}
.description-main {
    
    flex-direction: column;
   padding-top: 60px;
    
    
}
.card-description-details {
    align-items: flex-end;
}
.description {
    gap: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    width: 275px;
    
    
}

.features {
    flex-direction: column;
    width: 166px;
    align-items:flex-end;
    height: fit-content;
}


.feauteres-details {
    display: flex;
    gap: 3%;
    margin-bottom: 5px;
    align-items: flex-start; 
    width: 166px;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 30px 20px 30px; 
    
    align-self: flex-start; 
}
.season {
    font-weight: 300;
    font-family: "Robbotic Light";
    border:solid 1px #6A6A6A;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 4vh;
    
}
.card:not(:nth-of-type(2)):not(:nth-of-type(5)) .season {
    margin-left: 62px; 
}
.card:nth-of-type(2) .season,
.card:nth-of-type(5) .season {
  margin-left: 22px; 
}
.cost h4 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Robbotic Regular";
}
.cost span {
    font-weight: 300;
    font-family: "Robbotic Light";
    font-size: 16px;
    padding-top: 2%;
}
.cost {
    display: flex;
    width: 100%;
    
    padding-top: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
    margin-bottom: 19px;
    
}
.btn-card {
    background-color: #EC1C24;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    font-family: "Robbotic Regular";
    border-radius: 30px;
    width: 168px;
    padding: 10px 20px;
    
    
}
.btn-image {
    width: 11px;
    height: 11px;
    margin-left: 5%;
}






#form-send {
    background-image: url(./assets/image-1/Pr\ 3.jpg);
    background-size: cover; 
    background-position: center;        
    background-repeat: no-repeat; 
    width: 100%;
    min-height: 40vh;
    max-height: 70vh;
    height: auto;
    position: relative;
}
#form-2 {
    background-color: #FFFFFF;
    top: 30%;
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 48px 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    left: 22%;
    
}
.form-title {
    color: #1C1C1C;
    font-weight: 400;
    font-size: 24px;
    font-family: "Robbotic Regular";
    margin-right: 60px;
    width: 236px;
}
.form-subtitle {
    color: #1C1C1C;
    font-weight: 300;
    font-size: 16px;
    font-family: "Robbotic Light";
    margin-right: 60px;
    width: 208px;
}
.fill-form {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-right: 75px;
}
.fill-form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #848484;
    width: 144px;
}
.btn-form {
    background-color: #EC1C24;
    color: #FFFFFF;
    width: 168px;
    padding: 14px 23px;
    border: none;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-family: "Robbotic Regular";
    font-size: 16px;
    font-weight: 500;
}
.btn-form-image {
    width: 11px;
    height: 11px;
    margin-left: 10px;
}

/*Footer*/
footer {
    background-color: #222222;
    color: #FFFFFF;
    padding: 53px 389px;   
}
#footer-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    align-items: center;
}
#footer-form {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    height: fit-content;
    
}
#footer-logo {
    width: 15%;
    height: auto;
}
#footer-logo-img {
    width: 100%;
    height: 100%;
}
#footer-form-title {
    font-weight: 300;
    font-family: "Robbotic Light";
    font-size: 14px;
    padding-top: 2%;
}
#footer-form-send {
    display: flex;
    height: fit-content;
    border: 1px solid #FFFFFF;
    padding: 10px 23px;
    border-radius: 30px;
}
#footer-form-send input {
    background-color: #222222;
    border: none;
}
#footer-sections {
    display: flex;
    justify-content: space-between;
    padding: 34px 94px;
    border-top: solid 1px #494949;
    border-bottom: solid 1px #494949;
}
#footer-sections a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    font-family: "Robbotic Light";
}
#footer-society {
    display: flex;
    justify-content: space-between;
    padding: 39px 345px;
}
#footer-bottom {
    text-align: center;
    color: #525252;
    font-size: 14px;
    font-weight: 300;
    font-family: "Robbotic Light";
}

#title-block span {
    margin-top: 2%;
}


@media screen and (max-width: 1440px) {
    header {
        padding: 24px 174px;
    }
    #company-logo {
        width: 159px;
        height: 58px;
    }
    
    #call-image {
        width: 26px;
        height: 26px;
    }
    #location-image {
        width: 26px;
        height: 26px;
    }
    #response-images {
        gap: 15px;
    }
    #title {
        padding-left: 250px;
        padding-right: 250px;
    }
    #btn-choice-image {
        width: 13px;
        height: 13px;
    }
    #main {
        padding-left: 160px;
        padding-right: 160px;
    }
    #form-send {
        min-height: 40vh;
        max-height: 100vh;
    }
    #form-2 {
        top: 25%;
        left: 13%;
    }
    .form-title {
        width: 236px;
        margin-right: 64px;
    }
    .form-subtitle {
        margin-right: 70px;
    }
    .fill-form {
        margin-right: 75px;
    }
    .btn-form-image {
        width: 11px;
        height: 11px;
        margin-left: 5px;
    }
    footer {
        padding-left: 160px;
        padding-right: 160px;
    }

    


}
@media screen and (max-width: 1280px) {
    header, #news, #about-us, footer  {
        padding-right: 86px;
        padding-left: 86px;
    
    }
    header {
        padding: 20px 86px;
    }
    #company-logo {
        width: 159px;
        height: 58px;
    }
    
    
    #title {
        padding: 149px 156px 140px;
    }
    #btn-choice-image {
        width: 11px;
        height: 11px;
    }


    
    .form-title {
        width: 236px;
        margin-right: 64px;
    }
    .form-subtitle {
        margin-right: 70px;
    }
    .fill-form {
        margin-right: 75px;
    }
    .btn-form-image {
        width: 11px;
        height: 11px;
        margin-left: 5px;
    }
    
   footer {
    padding-right: 86px;
    padding-left: 86px;
   }
   #main {
    padding-left: 86px;
    padding-right: 86px;
   }

    
}
@media screen and (max-width: 1024px) {

    #choice {
        margin-top: 68px;
        padding: 12px 32px;
        border-radius: 30px;
    }
    
    
    
    .input-group-dropdown {
        width: 130px;
        
       
    }
    .input-group-dropdown input {
        width: 120px;
        height: 20px;

    }
    .input-group-dropdown  label {
        width: 130px;
        font-size: 12px;
        margin: 0px;
    }
    
    #btn-choice-image {
        
        margin-left: 0.5vw;
    }
    #main {
        
        padding-left: 48px;
        padding-right: 48px;
        
        
    }
    
   
    
    #title-block {
        padding-bottom: 44px;
        
    }
    
   
    #buttons {
       
        margin-bottom: 15px;
        width: 928px;
        
        
    }
    #sort {
        
        margin-right: 350px;
        
    }
   
    #filter {
        
        padding: 10px 20px;
       
        
    }
    /*cards*/
    .card {
        
        width: 928px;
        
        
        
        
        
        
        
        
    }
    
    .main-img {
        
        width: 280px;
        height: 288px;
    
        
        
        
    }
    
    
    
    .card-description {
        
        
        padding: 30px 20px 15px 0px;
        
    }
   
    
    
    .stars {
        width: 114px;
        
    
    }
    .feedback {
        gap: 7px;
        width: 132px;
        
        
    }

    .description-main {
        
        
       padding-top: 53px;
        
        
    }
    
    .description {
        gap: 2%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5px;
        width: 202px;
        
        
    }

    .description span {
        display: block;
        
    }
    .card:nth-of-type(1) .description span ,
    .card:nth-of-type(8) .description span  {
       width: 110px; 
    }

    .card:nth-of-type(2) .description span ,
    .card:nth-of-type(5) .description span  {
       width: 152px; 
    }

    .card:nth-of-type(3) .description span ,
    .card:nth-of-type(4) .description span ,
    .card:nth-of-type(6) .description span ,
    .card:nth-of-type(7) .description span  {
       width: 125px; 
    }
   
   
    
    
    
    .features {
        
        width: 165px;
        
    }
    
    
    .feauteres-details {
        
        width: 165px;
    }
    .details {
        
        padding: 23px 23px 20px 23px; 
        
    }
   
    .card:not(:nth-of-type(2)):not(:nth-of-type(5)) .season {
        margin-left: 52px; 
    }
    .card:nth-of-type(2) .season,
    .card:nth-of-type(5) .season {
      margin-left: 22px; 
    }
    .cost h4 {
        font-size: 24px;
        font-weight: 600;
        font-family: "Robbotic Regular";
    }
    .cost span {
        font-weight: 300;
        font-family: "Robbotic Light";
        font-size: 16px;
        padding-top: 2%;
    }
    .cost {
        display: flex;
        width: 100%;
        
        padding-top: 119px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        margin-bottom: 16px;
        
    }
    .btn-card {
        background-color: #EC1C24;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        font-family: "Robbotic Regular";
        border-radius: 30px;
        width: 168px;
        padding: 10px 20px;
        
        
    }
    .btn-image {
        width: 11px;
        height: 11px;
        margin-left: 5%;
    }

    header {
        padding: 20px 48px;
    }
    #company-logo-image {
        width: 159px;
        height: 58px;
    }
    
    
    #title {
        padding: 90px 48px 100px;
    }
    #btn-choice-image {
        width: 11px;
        height: 11px;
    }
    #choice input {
        width: 145px;
    }
    /*section send form*/
    #section-form {
        background-image: url(./assets/images/Group\ 9.jpg);
        background-size: cover; 
        background-position: center;        
        background-repeat: no-repeat; 
        width: 100%;
        min-height: 50vh;
        max-height: 90vh;
        height: auto;
        position: relative;
    }
    #form-2 {
        background-color: #FFFFFF;
        top: 30%;
        position: absolute;
        width: fit-content;
        height: fit-content;
        padding: 35px 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5vh;
        left: 5%;
        width: 90%;
        
    }
    .form-title {
        
        margin-right: 57px;
        font-size: 24px;
    }
    .form-subtitle {
        font-size: 16px;
        margin-right: 27px;
    }
    .fill-form {
        gap: 10px;
        margin-right: 30px;
    }
    .fill-form input {
        width: 144px;
    }
    .btn-form {
        width: 168px;
        padding: 13px 0vw;
        border-radius: 30px;
        font-size: 16px;
    }
    
       /*Footer*/
    footer {
        background-color: #222222;
        color: #FFFFFF;
        padding: 60px 48px 42px;   
    }
    #footer-title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 61px;
        align-items: center;
    }
    #footer-form {
        display: flex;
        justify-content: space-between;
        gap: 3vw;
        height: fit-content;
        
    }
    #footer-logo {
        width: 159px;
        height: auto;
    }
    #footer-logo-img {
        width: 100%;
        height: 100%;
    }
    #footer-form-title {
        font-weight: 300;
        font-family: "Robbotic Light";
        font-size: 16px;
        text-align: left;
        padding-top: 2%;
    }
    #footer-form-send {
        display: flex;
        height: fit-content;
        border: 1px solid #FFFFFF;
        padding: 10px 17px;
        border-radius: 30px;
    }
    #footer-form-send input {
        background-color: #222222;
        border: none;
    }
    #footer-sections {
        display: flex;
        justify-content: space-between;
        padding: 40px 0vw;
        border-top: solid 1px #494949;
        border-bottom: solid 1px #494949;
    }
    #footer-sections a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16px;
        font-weight: 300;
        font-family: "Robbotic Light";
    }
    #footer-society {
        display: flex;
        justify-content: space-between;
        padding: 36px 256px;
    }
    #footer-bottom {
        text-align: center;
        color: #525252;
        font-size: 16px;
        font-weight: 300;
        font-family: "Robbotic Light";
    }
    #title-block span {
        margin-top: 3%;
    }
}   

@media screen and (max-width: 426px) and (min-width: 320px) {
    ::placeholder {
        font-size: 3vw;
        
        padding-left: 2%;
        padding-bottom: 1%;
    }
    
    /*Header*/
    header {
        padding: 1vh 4vw; 
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    /*Header company-logo*/
    #company-logo {
        width: 30vw;
        height: auto;
    }
    #company-logo-image {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    /*Header menu-section*/
    #menu-sections {
        display: none;
    }
    #menu-sections::-webkit-scrollbar {
        display: none;
    }
    /*Header response section*/
    #response {
        display: none
    }
    /*Header menu*/
    #main-menu {
        padding: 2vh 1.1vw;
    }
    
    .menu {
        position: relative;
        display: inline-block;
    }
    
    .menu-button {
        cursor: pointer;
        display: inline-block;
    }
    
    #menu-toggle {
        display: none;
    }
    
    .dropdown-content {
        display: none;
        position: fixed;
        top: 40px;
        left: 0;
        width: 100vw;
        background-color: #FFFFFF;
        color: #000000;
        padding: 3%;
        list-style: none;
        box-sizing: border-box;
        z-index: 1000;
    }
    .content-menu {
        display: block;
        font-size: 3vw;
        padding: 2%;
        
    }
    
    #menu-toggle:checked + .menu-button + .dropdown-content {
        display: block;
    }
    .content-menu span {
        padding: 1%;
        font-size: 4vw;
    }
    
    .dropdown-content ul {
        text-decoration: none;
        display: grid;
        padding: 3%;
        font-size: 3vw;
        grid-template-columns: repeat(2, 30%);

    }
    
    .dropdown-content li a:hover {
        background: #ddd;
    }
    .on-mobile {
        display: block;
        display: flex;
        padding: 5% 2%;
        border-top: solid 1px #6A6A6A;
        justify-content: space-between;
    }
    .on-mobile button {
        background-color: #FFFFFF;
        border: solid 1px #6A6A6A;
        color: #000000;
        font-family: "Robbotic Regular";
        font-size: 3vw;
        font-weight: 500;
        border-radius: 2vh;
        padding: 1% 2%; 
            
    }
    .mobile-image-block {
        display: flex;
        gap: 5%;
    }
    /*Main*/
    /*Section-title*/
    #title {
        min-height: 100vh;
        padding: 6vh 10vw;
        background-position: center;
        min-height: 60vh;
        
    }
    
    #title h1 {
        font-size: 44px;
        padding-bottom: 2vh;
    }
    
    #title h3 {
        font-size: 24px;
        padding-bottom: 2vh;
    }
    
    #choice {
        background-color: #FFFFFF;
        width: 100%;
        height: fit-content;
        margin-top: 5vh;
        padding: clamp(1vh, 2vh, 2vh) clamp(0.5vw, 0.6vw, 1vw); 
        border-radius: 3vh;
        display: block;
        
        
    }
    
    .input-group-dropdown  {
        border-right: none;
        border-top: none;
        border-bottom: solid 1px #D4D4D4;
        border-left: none;
        height: clamp(3vh, 6vh, 8vh); 
        width: 90%; 
        
    }

    
    
    #btn-choice {
        background-color: #EC1C24;
        color: #FFFFFF;
        width: 80%;
        
        border: none;
        border-radius: 6vh;
        justify-content: center;
        align-items: center;
        font-family: "Robbotic Regular";
        font-size: clamp(4vw, 4.2vw, 4.4vw); 
        font-weight: 500;
    }
    #btn-choice-image {
        width: 11px;
        height: 11px;
        margin-left: 1vw;
    }
    
    .display-on-laptop {
        display: none;
    }

    #choice input:nth-child(4),
    #choice input:nth-child(5) {
        width: 45%; 
        margin-bottom: 2%;
        
    }

    #main {
        margin: auto;
        padding-top: 30px;
        background-color: #FFFFFF;
        align-items: center;
        
        padding-bottom: 200px;
        
    }
    #cite {
        padding-bottom: 67px;
    }
    #cite button {
        background-color: #FFFFFF;
        text-decoration: none;
        border: none;
        color: #1C1C1C;
        font-size: 14px;
        padding: 1vh 0.2vw;
        font-family: "Robbotic Thin";
        font-weight: 300;
    }
    
    #title-block {
        padding-bottom: 35px;
        display: flex;
        gap: 1vw;
        
    }
    #title-block h3 {
        font-size: 44px;
        color: #1C1C1C;
        text-transform: uppercase;
        font-family: "Robbotic Regular";
        font-weight: 500;
    }
    #title-block span {
        display: none;
    
    }
    #buttons {
        background-color: #FFFFFF;
        color: #1C1C1C;
        font-family: "Robbotic Light";
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        width: 300px;
        text-align: center;
        flex-wrap: wrap;
        
        
        
    }
    #sort {
        font-weight: 400;
        display: flex;
        gap: 0.2vw;
        align-items: center;
        margin-right: 0px;
        font-size: 16px;
        width: 300px;
        margin-bottom: 10px;
    }
    #map {
        font-weight: 300;
        display: flex;
        gap: 0.5vw;
        align-items: center;
        font-size: 16px;
    }
    #filter {
        font-weight: 500;
        display: flex;
        gap: 0.5vw;
        align-items: center;
        border: none;
        background-color: #FFFFFF;
        padding: 0px;
        border-radius: 30px;
        font-size: 16px;
        
    }
    /*cards*/
    .card {
        color: #1C1C1C;
        display: flex;
        width: 300px;
        border: solid 1px #D4D4D4;
        border-radius: 30px;
        margin-bottom: 30px;
        align-items: flex-start;
        justify-content: space-between;
        overflow: hidden;
        flex-direction: column;
        position: relative;
        
        
        
        
        
        
    }
    .card-description-details {
        display: flex;
        justify-content: row;
    }
    .main-img {
        object-fit: cover;
        width: 300px;
        height: 200px;
        position: relative;

        
    
        
        
        
    }
    
    
    
    .card span {
        font-weight: 300;
        font-family: "Robbotic Light";
    }
    .card-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        
    }
    .card-description {
        display: flex;
        flex-direction: column;
        width: 300px;
        
        padding: 25px 18px 0px;
        
    }
    .about-main {
        flex-direction: column;
        width: 300px;
    }
    .card-title {
        font-size: 16px;
    }
    .stars, .feedback, .description, .features, .details {
        font-size: 12px;
        display: flex;
    }
    
    .hotel {
        font-size: 20px;
        font-weight: 500;
        font-family: "Robbotic Regular";
    }
    .card-title {
        padding-bottom: 5px;
    }
    .stars {
        width: 114px;
        padding-top: 5px;
        padding-bottom: 20px;
    
    }
    .feedback {
        gap: 8px;
        width: 140px;
        height: 24px;
        
        
    }
    .feedback span {
        padding-top: 3%;
        
       
       
    }
    .number {
        font-weight: 300;
        font-family: "Robbotic Light";
        font-size: 14px;
        background-color: #463998;
        padding: 4px 10px;
        color: #FFFFFF;
        border-radius: 4vh;
        height: 24px;
        width: 40px;
    
    }
    .description-main {
        display: flex;
        flex-direction: row;
       padding-top: 10px;
       width: 300px;
       align-items: flex-start;
        
        
    }
    .card-description-details {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }
    .description {
        gap: 2%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 5px;
        width: 160px;
        
        
    }
    
    .features {
        flex-direction: column;
        width: 250px;
        align-items:flex-end;
        height: fit-content;
        margin-top: 20px;
    }
    
    .description span {
        display: block;
        
    }
    .card:nth-of-type(1) .description span ,
    .card:nth-of-type(8) .description span  {
       width: 90px; 
    }

    .card:nth-of-type(2) .description span ,
    .card:nth-of-type(5) .description span  {
       width: 140px; 
       
    }

    .card:nth-of-type(3) .description span ,
    .card:nth-of-type(4) .description span ,
    .card:nth-of-type(6) .description span ,
    .card:nth-of-type(7) .description span  {
       width: 100px; 
    }
    
    .feauteres-details {
        display: flex;
        gap: 5px;
        margin-bottom: 12px;
        align-items: center; 
        width: 250px;
    }
    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 80px; 
        align-self: flex-start; 
    }
    .season {
        font-weight: 300;
        font-family: "Robbotic Light";
        border:solid 1px #FFFFFF;
        padding: 5px 10px;
        width: fit-content;
        border-radius: 4vh;
        position: absolute;
        top: 16px;
        z-index: 4;
        
        background-color: #FFFFFF;
    }
    .card:not(:nth-of-type(2)):not(:nth-of-type(5)) .season {
        left: 152px; 
    }
    .card:nth-of-type(2) .season,
    .card:nth-of-type(5) .season {
      left: 142px; 
    }
    .cost h4 {
        font-size: 24px;
        font-weight: 600;
        font-family: "Robbotic Regular";
    }
    .cost span {
        font-weight: 300;
        font-family: "Robbotic Light";
        font-size: 14px;
        padding-top: 0%;
    }
    .cost {
        display: flex;
        width: 100%;
        
        padding-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-bottom: 0px;
        
    }
    .btn-card {
        display: none;
        
        
    }
    .btn-image {
        width: 11px;
        height: 11px;
        margin-left: 5%;
    }
     /*section send form*/
    #form-send {
        
        background-size: cover; 
        background-position: center;        
        background-repeat: no-repeat; 
        width: 100%;
        
        position: relative;
    }
    #form-2 {
        background-color: #FFFFFF;
        
        position: absolute;
        
        width: 90%;
        padding: 15% 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3vh;
        left: 5%;
        text-align: center;
        
        
    }
    .form-title {
        color: #1C1C1C;
        font-weight: 400;
        font-size: 7vw;
        font-family: "Robbotic Regular";
        text-align: center;
        margin-right: 0%;
        width: 80%;
        
        
    }
    .form-subtitle {
        color: #1C1C1C;
        font-weight: 300;
        font-size: 4.5vw;
        font-family: "Robbotic Light";
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        margin-right: 0%;
        
    }
    .fill-form {
        display: flex;
        flex-direction: column;
        gap: 3.5vh;
        margin-right: 0vw;
    }
    .fill-form input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 1px #848484;
        width: 110%;
    }
    .btn-form {
        background-color: #EC1C24;
        color: #FFFFFF;
        width: 70%;
        padding: 5%;
        border: none;
        border-radius: 6vh;
        justify-content: center;
        align-items: center;
        font-family: "Robbotic Regular";
        font-size: clamp(4vw, 4.2vw, 4.4vw); /* адаптивный размер шрифта */
        font-weight: 500;
        margin-top: 10%;
    }
    .btn-form-image {
        
        height: auto;
        margin-left: 1vw;
    }
    /*Footer*/
    footer {
        background-color: #222222;
        color: #FFFFFF;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 5%;
        padding-bottom: 5%;  
        display: flex;
        flex-direction: column;
    }
    #footer-title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5%;
        flex-direction: column;
        
    }
    #footer-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: solid 1px #494949;
        height: fit-content;
        width: 100%;
        
        
    }
    #footer-logo {
        width: 35%;
        height: auto;
        margin-bottom: 8%;
    }
    #footer-logo-img {
        width: 100%;
        height: 100%;
    }
    #footer-form-title {
        font-weight: 300;
        font-family: "Robbotic Light";
        font-size: 4.5vw;
        padding-top: 8%;
        text-align: center;
    }
    #footer-form-send {
        display: flex;
        height: fit-content;
        border: 1px solid #FFFFFF;
        padding: 10px 18px;
        border-radius: 30px;
        
        width: fit-content;
    }
    
    #footer-form-send input {
        background-color: #222222;
        border: none;
    }
    #footer-sections {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        padding: 10% 8% 20%;
        border-top: solid 1px #494949;
        border-bottom: solid 1px #494949;
        gap: 20%;
        text-align: center;
    }
    #footer-sections a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 3.5vw;
        font-weight: 300;
        font-family: "Robbotic Light";

    }
    #footer-society {
        display: flex;
        justify-content: space-between;
        padding: 8% 6%;
        border-bottom: solid 1px #494949;
    }
    #footer-bottom {
        text-align: center;
        color: #525252;
        font-size: 3.5vw;
        font-weight: 300;
        font-family: "Robbotic Light";
        padding: 10% 1%;
    } 
}

@media screen and (max-width: 426px) {
    #main {
        padding-left: 62px;
        padding-right: 62px;
    }
    #form-send {
        min-height: 90vh;
        max-height: 100vh; 
    }
    #form-2 {
        top: 5%;
    }
    #choice {
        width: 300px;
        padding: 20px 20px;
        align-items: center;
        justify-content: center;
    }
    .dropdown-section-2 {
        display: flex;
        flex-direction: column;
        height: 500px;
        overflow: auto;
        padding: 40px;
        justify-content: center;
       
    }
    .dropdown-content-2 {
        width: 360px;
        margin-right: 20px;
        top: 8%;
        left: 10%;
        right: 10%;
        
        
        
        
    }
    .dropdown-main-2 {
        width: 360px;
        margin-left: 20px;
        top: 8%;
        left: 10%;
        right: 10%;
        
       
    }
    .input-group-dropdown {
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
        
    }
    .input-group-dropdown:nth-child(4),
    .input-group-dropdown:nth-child(5) {
        width: 151px; 
        margin-bottom: 20px;
        
    }
    .dropdown-content-3 {
        width: 360px;
        left: 10%;
    }
    .dropdown-main-3 {
        width: 360px;
        left: 10%;
    }
    #btn-choice {
        width: 252px;
    }
    #title {
        display: flex;
        flex-direction: column;
    }


    
}

@media screen and (max-width: 376px) {
    #main {
        padding-left: 37px;
        padding-right: 37px;
    }
    #form-send {
        min-height: 90vh;
        max-height: 100vh; 
    }
    #form-2 {
        top: 10%;
    }
    .input-group-dropdown:nth-child(4),
    .input-group-dropdown:nth-child(5) {
        width: 135px; 
        margin-bottom: 20px;
        
    }
    .dropdown-content-2 {
        left: 5px;
        right: 5px;
    }
    .dropdown-content-3 {
        left: 5px;
        right: 5px;
    }
   


    
}




@media screen and (max-width: 320px) {
    #main {
        padding-left: 10px;
        padding-right: 10px;
    }
    #form-send {
        min-height: 80vh;
        max-height: 100vh; 
    }
    #form-2 {
        top: 8%;
    }
    #choice {
        width: 250px;
        padding: 20px 20px;
        align-items: center;
        justify-content: center;
    }
    .input-group-dropdown:nth-child(4),
    .input-group-dropdown:nth-child(5) {
        width: 110px; 
        margin-bottom: 10px;
        
    }
    .dropdown-content-2 {
        left: 0px;
        right: 0px;
        width: 320px;
    }
    .dropdown-main-2 {
        left: 0px;
        right: 0px;
        width: 320px;
    }
    .dropdown-content-3 {
        left: 0px;
        right: 0px;
        width: 320px;
    }
    .dropdown-main-3 {
        width: 320px;
    }

    #btn-choice {
        width: 200px;
    }


    
}

@media screen and (max-width: 768px) and (min-width: 427px) {
    h1 {
        font-size: 80px;
    }
    #choice input {
        width: 90px;
    }
    #company-logo-image {
        width: 100px;
    }
    #menu-sections {
        margin-left: 30px;
        margin-right: 30px;
        
    }

    #menu-sections a {
        font-size: 12px;
    }

    #response-btn {
        padding: 10px 13px;
        width: 150px;
        font-size: 12px;
    }
    #call-image {
        width: 24px;
        height: 24px;
    }
    #location-image {
        width: 24px;
        height: 24px;
    }
    #response {
        gap: 1.5vw;
    }
    #choice {
        padding: 10px 12px;
    }
    .context-dropdown ul {
        min-width: 180px;

    }
    
    
    
    #main {
        padding: 30px 10px 100px;
    }

    .main-img {
        width: 250px;
        height: 233px;

    }
    .card {
        width: 750px;
        border-radius: 20px;
    }

    .card-title {
        font-size: 14px;
    }
    .stars, .feedback, .description, .features, .details {
        font-size: 12px;
        display: flex;
    }
    
    .hotel {
        font-size: 18px;
        font-weight: 500;
        font-family: "Robbotic Regular";
    }
    .card-description {
        padding: 10px 5px;
    }
    .stars {
        padding: 5px 0px 15px;
    }
    .number {
        height: 22px;
        font-size: 12px;
        padding: 4px 10px;
    }
    .description-main {
        width: 160px;
    }
    .description {
        width: 160px;
    }
    .card:nth-of-type(1) .description span ,
    .card:nth-of-type(8) .description span  {
       width: 90px; 
    }

    .card:nth-of-type(2) .description span ,
    .card:nth-of-type(5) .description span  {
       width: 150px; 
       
    }

    .card:nth-of-type(3) .description span ,
    .card:nth-of-type(4) .description span ,
    .card:nth-of-type(6) .description span ,
    .card:nth-of-type(7) .description span  {
       width: 100px; 
    }
    .features {
        width: 160px;
    }
    .feauteres-details {
        width: 150px;
    }
    .details {
        padding: 10px 20px;
    }
    .cost h4 {
        font-size: 20px;
        
    }
    .cost span {
        font-size: 12px;
    }
    .cost {
        margin-bottom: 20px;
        margin-left: 0px;
        padding-top: 105px;
    }
    .btn-card {
        font-size: 12px;
        width: 130px;
    }
    #sort {
        margin-right: 200px;
    }
    #buttons {
        gap: 10px;
        width: 740px;
    }

    #footer-logo-img {
        width: 145px;
    }
    #footer-form-title {
        font-size: 12px;
    }
    #footer-form-send {
        padding: 10px 20px;
    }
    #footer-sections a {
        font-size: 12px;
    }
    #footer-society {
        padding: 36px 170px;
    }
    .form-title {
        font-size: 18px;
       
        margin-right: 25px;
    }
    .form-subtitle {
        font-size: 12px;
        margin-right: 30px;
    }
    .fill-form input {
        width: 100px;
    }
    .btn-form {
        font-size: 12px;
        padding: 10px 0px;
    }
    .btn-form-image {
        width: 9px;
        height: 9px;
    }
    #form-title-2 {
        font-size: 18px;
    }
    
    .card:not(:nth-of-type(2)):not(:nth-of-type(5)) .season {
        margin-left: 40px; 
    }
    .card:nth-of-type(2) .season,
    .card:nth-of-type(5) .season {
       margin-left: 15px; 
    }
    


}